<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['/vacations']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the vacations list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
                [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Reset</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(true)"
                mat-raised-button matTooltip="Save & Continue">
                <span>Save</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Basic info
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form-->
                    <div *ngIf="vacation">
                        <form [formGroup]="vacationForm" class="kt-form kt-form--group-seperator-dashed">

                            <kt-alert *ngIf="errorMessage" type="warn" [showCloseButton]="true" [duration]="50000"
                                (close)="onAlertClose($event)">
                                {{errorMessage}}
                            </kt-alert>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-6  col-md-6  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput  placeholder="Enter Vacations Name"
                                                formControlName="title" />
                                            <mat-error *ngIf="vacationForm.controls['title'].errors?.required">Vacation Name is
                                                <strong>required</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please enter
                                                <strong>Vacation Name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6  col-md-6  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput [matDatepicker]="picker"
                                                placeholder="Choose a Date of Vacation"
                                                formControlName="date" />
                                                <mat-error *ngIf="vacationForm.controls['date'].errors?.required">Date of vacation is
                                                    <strong>required</strong>
                                                </mat-error>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-hint align="start">Please enter
                                                <strong>Date of vacation</strong> in 'mm/dd/yyyy' format</mat-hint>
                                        </mat-form-field>
                                    </div> 
                                  
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
          
          

        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>