<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a [routerLink]="['/exams']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="Back to the exams list">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>
            <a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()"
                [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
                <i class="la la-cog"></i>
                <span class="kt-hidden-mobile">Reset</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
                mat-raised-button matTooltip="Save & Continue">
                <span>Save</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon fa fa-user"></i>
                    Exam info
                </ng-template>
                <ng-template matTabContent>
                    <!--begin::Form                      class="kt-form kt-form--group-seperator-dashed"-->
                    <div *ngIf="Exams">
                        <form [formGroup]="ExamsForm" class="kt-form">

                            <kt-alert *ngIf="errorMessage" type="warn" [showCloseButton]="true" [duration]="10000"
                                (close)="onAlertClose($event)">
                                {{errorMessage}}
                            </kt-alert>
                            <!-- kt-form__section--first class="kt-form__section " -->
                            <div>

                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-6  col-md-6  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter Exam Name" formControlName="name" />
                                            <mat-error *ngIf="ExamsForm.controls['name'].errors?.required">
                                                Exame Name is
                                                <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="ExamsForm.controls['name'].errors?.pattern">
                                                Please enter
                                                <strong>valid Exame Name</strong>
                                            </mat-error>
                                            <mat-error *ngIf="ExamsForm.controls['name'].errors?.minlength">
                                                Exame Name at least
                                                <strong>3 chars</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please enter
                                                <strong>Exame Name </strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-6  col-md-6  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Choose Provider</mat-label>
                                            <mat-select formControlName="providerID">
                                                <mat-option *ngFor="let provider of allproviders"
                                                    [value]="provider.providerID">{{provider.providerName}}</mat-option>
                                            </mat-select>
                                            <mat-error>Please select
                                                <strong>provider</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please select
                                                <strong>provide</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group kt-form__group row">


                                    <div class="col-lg-6  col-md-5  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="number" matInput placeholder="Enter Purchasing price"
                                                formControlName="totalPrice" />
                                            <mat-error *ngIf="ExamsForm.controls['totalPrice'].errors?.required">
                                                Please enter
                                                <strong> Price</strong>
                                            </mat-error>
                                            <mat-error *ngIf="ExamsForm.controls['totalPrice'].errors?.pattern">
                                                Please enter
                                                <strong>valid Price</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please enter
                                                <strong>Purchasing price</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6  col-md-5  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="number" matInput placeholder="Enter Exam Selling Price"
                                                formControlName="examCurrentPrice" />
                                            <mat-error *ngIf="ExamsForm.controls['examCurrentPrice'].errors?.required">
                                                Please enter
                                                <strong> Exam Selling Price</strong>
                                            </mat-error>
                                            <mat-error *ngIf="ExamsForm.controls['examCurrentPrice'].errors?.pattern">
                                                Please enter
                                                <strong>valid Exam  Price</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please enter
                                                <strong> Exam Selling Price</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-6  col-md-6  col-sm-6 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter Exame Code" formControlName="code" />

                                            <mat-error>code is
                                                <strong>required</strong>
                                            </mat-error>
                                            <mat-hint align="start">Please Choose
                                                <strong>code</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Form-->
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>